#tree-div {
    width: 40rem;
    min-width: 40rem;
    overflow: scroll;
}
.branch-name {
    padding-top: 0.5rem;
    height: 1rem;
    width: fit-content;
    white-space: nowrap;
}
.branch-block {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    /*border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);*/
}
.branch-merger {
    position: absolute;
    top: 2.1rem;
    left: 1rem;
    width: 1px;
    height: calc(100% - 3rem);
    background-color: white;
}
.branch-block-merger {
    position: absolute;
    top: 2.6rem;
    left: 1rem;
    width: 1px;
    height: calc(100% - 5rem);
    background-color: white;
}
.branch-connector {
    margin-bottom: 0.4rem;
    margin-right: 0.5rem;
    display: inline-block;
    width: 2rem;
    height: 1px;
    background-color: white;
}
.branch-block-connector {
    position: absolute;
    top: 2.6rem;
    left: 0;
    width: 1rem;
    height: 1px;
    background-color: white;
}
